<html>
<head>
  <script src="//d2wy8f7a9ursnm.cloudfront.net/v5/bugsnag.min.js"></script>
  <script>window.bugsnagClient = bugsnag('e68a9c7e8df6ed36d155702829ec5705')</script>

  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="common.min.js?<%= timestamp %>"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="main.css?<%= timestamp %>" />
</head>
<body>
  <style>input[type=text]{border: solid 1px #ccc;}</style>
  <div id="not-logged-in" style="color: red">You are not logged in. You can see these settings but cannot change them. Go to the <a href="scoring.html">scoring page</a> to log in.</div>
  <header>
    <h1><img src="wuct.png" alt="WUCT" />Breaking Bonds Round: Control Panel</h1>
  </header>

  <div style="padding: 2em">
    <h2 style="margin-top: 0">Timer</h2>
    <p>The timer is always counting down. The recommended way of using the timer is:</p>
    <ul>
      <li><a href="#" onclick="setTimerMins(99999999999999999);return false;">Set timer to 99999999999999999</a> until you're ready to start (the timer will only display up to the limit, so it'll just stay maxed out)</li>
      <li><a href="#" onclick="setTimerMins(60);return false;">Set timer to 60</a> (or whatever the actual limit is) to start the round</li>
      <li>Use a scoreboard-hiding time of around 5 minutes to enable a bit of suspense during the awards ceremony (optional; to avoid this just <a href="#" onclick="setHidetimeMins(-99999999999999999);return false;">set the score-hiding time to -99999999999999999</a>)</li>
    </ul>
    <p>Timer is <input type="text" id="timerlength" /> minutes long and hides scores at <input type="text" id="hidetime" /> minutes.</p>
    <p><form action="" method="GET" id="timerset_form">Set timer to <input type="text" id="timerplus" /> minutes: <input type="submit" id="timerset" /></form></p>
    <p id="timer-wrap">CURRENT TIMER DISPLAY: <span id="timer">not loaded yet</span></p>
    
    <h2>Active Scoring Stations <sup><small><a href="https://github.com/cchan/WUCT/issues">beta</a></small></sup></h2>
    <p>This tracks all currently active scoring stations and all teams that they are tracking. Scoring stations may identify themselves using the Identifier textbox in the scoring page header. Use the 'x' to remove stray scoring stations (which forces them to log out).</p>
    <div id="stations"></div>
    
    <h2>Teams</h2>
    <p>Note that changing a team's passcode logs them out immediately.</p>
    <input type="text" placeholder="id" id="newid" />
    <input type="text" placeholder="new name" id="newname" />
    <input type="text" placeholder="new passcode" id="newpasscode" />
    <input type="submit" value="Add/Update" onclick="addTeam();" />
    
    <div id="teamlist"></div>

    <h2>Copyable Scoreboard Table&nbsp;<sup id="scoreboard-updated"><small>[update&nbsp;indicator]</small></sup></h2>
    <p>This table only shows teams that have ever had any score entered.</p>

    <p>Right click > Copy.</p>
    <div id="scoreboard"></div>
  </div>
  
  <script>
    $.fn.outerHTML = function(){
      // https://css-tricks.com/snippets/jquery/outerhtml-jquery-plugin/
      // IE, Chrome & Safari will comply with the non-standard outerHTML, all others (FF) will have a fall-back for cloning
      return (!this.length) ? this : (this[0].outerHTML || (
        function(el){
            var div = document.createElement('div');
            div.appendChild(el.cloneNode(true));
            var contents = div.innerHTML;
            div = null;
            return contents;
      })(this[0]));
    };

    firebase.auth().onAuthStateChanged(function(user){
      if (user && user.email == 'wuct@clive.io')
          document.getElementById("not-logged-in").style.display = "none";
    });
    
    window.teamNames = {};
    window.scores = [];
    
    function addTeam(){
        var newid = parseInt(document.getElementById('newid').value);
        if(!isNaN(newid)) {
          var newname = document.getElementById('newname').value;
          if(newname) fb.child('teams').child(newid).child("name").set(newname);
          var newpasscode = document.getElementById('newpasscode').value;
          if(newpasscode) {
            fb.child('answers').child(newid).once('value', function(snapshot) {
              var obj = snapshot.val();
              var old = {"created": ""+new Date()};
              if(obj && Object.keys(obj).length)
                old = obj[Object.keys(obj)[0]];
              console.log(old);

              fb.child('answers').child(newid).set({[newpasscode]: old}).then(function(){
                renderTeams();
                flashGreen(document.getElementById("teamlist"));
              });
            });
          }
          document.getElementById('newid').value = '';
          document.getElementById('newname').value = '';
          document.getElementById('newpasscode').value = '';
        } else {
          alertFailure("Invalid team ID");
        }
        return false;
    }
    function deleteTeam(newid){
      newid = parseInt(newid);
      if(!isNaN(newid)){
        if (confirm("This will permanently delete team "+newid+" and all of its scores and answers. Are you sure?")){
          fb.child('teams').child(newid).remove();
          fb.child('scores').child('team'+newid).remove();
          fb.child('answers').child(newid).remove();
        }
      } else {
        alertFailure("Invalid team ID");
      }
      return false;
    }
    
    function renderTeams(){
      $('#teamlist').html('');
      for(var id in teamNames)
        if(teamNames.hasOwnProperty(id))
          (function(id){
            fb.child('answers').child(id).once('value', function(snapshot) {
              var obj = snapshot.val();
              var passcode = null;
              if(obj && Object.keys(obj).length)
                passcode = Object.keys(obj)[0];
              console.log(passcode);
              $('#teamlist').append(
                $('<div>').append(
                  $('<button class="removeBtn">&#x2715;</button>')
                  .click(function(e){
                    deleteTeam(id);
                  })
                ).append(' ').append(
                  $("<span>"+ id + ": "+ window.teamNames[id].name + " (Passcode: " + (passcode?"<b>" + passcode + "</b>":"unset") +")</span>")
                )
              );
            });
          })(id);
    }
    
    function setTimerMins(mins) {
      fb.child('timer').child('target').set(mins * 60 * 1000 + (new Date()).getTime()).then(function(){
        flashGreen(document.getElementById("timer-wrap"));
      });
    }

    function flashGreen(elem) {
      if(elem.flash) {
        clearTimeout(elem.flash);
      }
      elem.style.transition = "none";
      elem.style.backgroundColor = "#AFA";
      elem.offsetHeight; /* trigger reflow */
      elem.style.transition = "background-color 1s";
      elem.style.backgroundColor = "white";
    }
    
    //Don't use this during leap seconds btw.
    (function(){
      function bindinputfb(input, ref, cb){
        ref.on('value', function(snapshot){
          input.value = parseInt(snapshot.val());
          flashGreen(input);
          cb(parseInt(snapshot.val()));
        });
        input.onchange = function(e){
          ref.set(parseInt(e.target.value)).then(function(){
            flashGreen(input);
          });
          cb(parseInt(e.target.value));
        };
      }
      
      var timerlength, hidetime;
      bindinputfb(document.getElementById('timerlength'), fb.child('timer').child('timerlength'), function(x){timerlength = x;});
      bindinputfb(document.getElementById('hidetime'), fb.child('timer').child('hidetime'), function(x){hidetime = x;});
      window.setHidetimeMins = function(mins) {
        document.getElementById('hidetime').value = mins;
        document.getElementById('hidetime').dispatchEvent(new Event('change'))
      }
      
      document.getElementById('timerset_form').onsubmit = function(){
        var mins = parseFloat(document.getElementById('timerplus').value);
        if (!isNaN(mins)){
          setTimerMins(mins);
          document.getElementById('timerplus').value = '';
        } else {
          alertFailure("Invalid number of minutes");
        }
        return false;
      };
      
      setTimer(document.getElementById('timer'), function(total){
        if(total <= 0)
          document.getElementById("timer").style.color = "red";
        else
          document.getElementById("timer").style.color = "black";
      });
    }());
    
    (function(){
      fb.child('teams').on('value', function(snapshot){
        teamNames = snapshot.val();
        fb.child("users").once('value', updateStations);
        renderTeams();
        renderTable();
        flashGreen(document.getElementById("teamlist"));
        flashGreen(document.getElementById("scoreboard-updated"));
      });
      
      fb.child('scores').on('value', function(snapshot){
        scores = [];
        var teams = snapshot.val();
        for(var teamId in teams){
          if(teams.hasOwnProperty(teamId)){
            var score = window.getScore(teams[teamId]);
            var progress = window.getProgress(teams[teamId]);
            scores.push({id: teamId, score: score, progress: progress});
          }
        }
        scores.sort(function(a,b){return b.score - a.score;});
        renderTable();
        flashGreen(document.getElementById("scoreboard-updated"));
      });
      
      function renderTable(){
        var s = "<tr><th>Rank</th><th>Team ID</th><th>Team Name</th><th>Total Score</th>"
               +"<th>Submitted "+window.dTitle[0]+" packets (of "+window.numPackets[0]+" total)</th>"
               +"<th>Submitted "+window.dTitle[1]+" packets (of "+window.numPackets[1]+" total)</th>"
               +"<th>Submitted "+window.dTitle[2]+" packets (of "+window.numPackets[2]+" total)</th>"
               +"</tr>";
        var prevRank = 0;
        for(let i = 0; i < scores.length; i++){
          if(teamNames[scores[i].id] === undefined)
            continue;
          if(i > 0 && scores[i].score != scores[i-1].score)
            prevRank = i;
          
          s += "<tr><td>" + (prevRank + 1) + "</td><td>"+scores[i].id.slice(4)+"</td><td>" + teamNames[scores[i].id].name + "</td><td>" + scores[i].score + "</td>";
          s += "<td>"+(scores[i].progress[0]*window.numPackets[0])+"</td>";
          s += "<td>"+(scores[i].progress[1]*window.numPackets[1])+"</td>";
          s += "<td>"+(scores[i].progress[2]*window.numPackets[2])+"</td>";
          s += "</tr>";
        }
        document.getElementById('scoreboard').innerHTML = "<table id='clickselectall' readonly='readonly' contenteditable>" + s + "</table>";

        document.querySelector('#clickselectall').onfocus = function(e) {
            var el = this;
            requestAnimationFrame(function() {
                selectElementContents(el);
            });
        };

        document.getElementById("scoreboard").onkeydown = function (event) {
            if (event.ctrlKey) {
                // allow Ctrl-A, Ctrl-(any arrow key) combinations
                return true;
            }
            // keycode: http://www.programming-magic.com/file/20080205232140/keycode_table.html
            if (33 <= event.keyCode && event.keyCode <= 40) {
                return true;
            }
            return false;
        };
      }
    })();

    function selectElementContents(el) {
        var range = document.createRange();
        range.selectNodeContents(el);
        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
    }
    
    function updateStations(snapshot){
      $("#stations").text('');
      var allTracked = new Set();
      if(snapshot.val()){
        for(var u in snapshot.val())
          if(snapshot.val().hasOwnProperty(u) && snapshot.val()[u])
            (function(u){
              var userState = snapshot.val()[u];
              try{
                var tracking = JSON.parse(userState.tracking);
              }catch(e){
                return;
              }
              $("#stations").append(
                $('<div>').append(
                  $('<button class="removeBtn">&#x2715;</button>')
                  .click(function(e){
                    if(confirm('Are you sure you want to remove scoring station "' + (userState.identifier || 'Unidentified Station') + '"? This will log them out.'))
                    fb.child("users").child(u).set(null);
                  })
                ).append(' ').append(
                  $('<span>')
                  .append($('<i>').text(userState.identifier || 'Unidentified Station'))
                  .append(' is tracking: ')
                  .append(
                    $('<span>').append(
                      tracking ? tracking.map(t=>
                        $('<span class="teamid">').text(t)
                        .append($("<span>").text(window.teamNames[t].name))
                        .outerHTML()
                      ).join(', ') : 'no one'
                    )
                  )
                )
              )
              tracking.forEach(x => allTracked.add(parseInt(x)));
            })(u);
      }
      console.log(window.teamNames)
      $('#stations').append($("<div>").append("<b>Untracked teams:</b> ")
      .append(Object.keys(window.teamNames).map(x=>parseInt(x)).filter(x => !allTracked.has(x)).map(t=>
                        $('<span class="teamid">').text(t)
                        .append($("<span>").text(window.teamNames[t].name))
                        .outerHTML()
                      ).join(', ') || 'no one'));
      flashGreen(document.getElementById("stations"));
    };
    fb.child("users").on('value', updateStations);

  </script>
  <style>
    td{
      padding: 0.3em;
    }
  </style>
</body>
</html>
