<html>
<head>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" crossorigin="anonymous" />
</head>
<body>
  <h1>WUCT Breaking Bonds Round</h1>
  <!--span id="login-status"></span-->
  <div id="app"></div>
  
  <style>
    body{
      text-align: center;
      padding-top: 3em;
    }
    #app{
      padding: 2em;
    }
    #app ol{
      text-align: left;
      display: inline-block;
      padding: 0;
      list-style-type: none;
    }
    #app ol li span{
      float: right;
      margin-left: 2em
    }
    #app ol li:nth-child(odd){
      background-color: #ccc
    }
  </style>
  
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC4siYV0A1Nq4POMUfvdRKyP0-xzUUvMVo",
      authDomain: "wuct-1f4ca.firebaseapp.com",
      databaseURL: "https://wuct-1f4ca.firebaseio.com",
      storageBucket: "wuct-1f4ca.appspot.com",
      messagingSenderId: "833633709327"
    };
    firebase.initializeApp(config);
    var fb = firebase.database().ref('wuct2017');
    firebase.auth().onAuthStateChanged(function(user){
      if (user && user.email == "wuct@clive.io"){
        document.getElementById('login-status').innerHTML = 'logged in';
      }
    });
    
    window.teamNames = {};
    window.scores = [];
    
    fb.child('teams').on('value', function(snapshot){
      window.teamNames = {};
      var teams = snapshot.val();
      for(var teamId in teams)
        if(teams.hasOwnProperty(teamId))
          window.teamNames['team'+teamId] = teams[teamId].name;
      render();
    });
    
    fb.child('scores').on('value', function(snapshot){
      window.scores = [];
      var teams = snapshot.val();
      for(var teamId in teams){
        if(teams.hasOwnProperty(teamId)){
          score = teams[teamId]['easy'].map(function(a){if(a==3)a++;return a*1;}).reduce(function(a,b){return a+b;})
                + teams[teamId]['medium'].map(function(a){if(a==3)a++;return a*3;}).reduce(function(a,b){return a+b;})
                + teams[teamId]['hard'].map(function(a){if(a==3)a++;return a*7;}).reduce(function(a,b){return a+b;});
          window.scores.push({id: teamId, score: score});
        }
      }
      window.scores.sort(function(a,b){return b.score - a.score;});
      render();
    });
    
    function render(){
      var s = "";
      var prevRank = 0;
      for(let i = 0; i < window.scores.length; i++){
        if(window.teamNames[scores[i].id] === undefined)
          continue;
        if(i > 0 && scores[i].score != scores[i-1].score)
          prevRank = i;
        s += "<li>" + (prevRank + 1) + ". " + window.teamNames[scores[i].id] + "<span>" + scores[i].score + "</span></li>";
      }
      document.getElementById('app').innerHTML = "<ol>" + s + "</ol>";
    }
  </script>
</body>
</html>
